<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1>Amor</h1>
    <p id="question">Só queria saber se tu me ama mesmo?</p>
    <button id="button1">Sim!</button>
    <button id="button2">Não!</button>
    <div id="gif-container">
      <img id="gif" src="/images/gifFofo1.gif" loop/>
    </div>
    <script src="/javascripts/buttongreen.js"></script>
    <script src="/javascripts/buttonred.js"></script>
  </body>
</html>